<html>
  <head>
    <title></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="{{ url_for('static', filename='homepage.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700&amp;display=swap" rel="stylesheet">
    <style>
    body {
    	background-color: rgb(247,247,249);
    	padding:0;
    	margin:0;
    }
    </style>
  </head>
  <body>
    
    <div class="covidupdateOuterWrapper" id="stats-section">
      <div class="updatesWrapper">
        
        
        
        <div class="statusOuterWrapper">
          
          
          
          
        </div>
      </div>
      <div class="impactedAreaInfoWrap"></div>
      <div class="impactedAreaOuterWrapper">
        <p class="impactedAreaheader">COVID-19 Cases Overview</p>
        <p class="impactupdateTiming">Updated 5 hours, 8 minutes ago. 24 Apr '20</p>
      </div>
      <div class="impactedAreaInfoDetail">
        
        <div class="countryImpactWrapper">
          <p class="stateNametxt">Across India</p>
          <div class="NumberofCaseswrapper">
            <div class="totalcasesWrap flex1">
              <p class="totalcasestxt">Confirmed</p>
              <p class="totalcasesNo redclr">{{ total_list.1 }}</p> <!-- total confirmed -->
            </div>
            <div class="totalcasesWrap flex1">
              <p class="totalcasestxt">Active</p>
              <p class="totalcasesNo redclr">{{ total_list.0 }}</p> <!-- total confirmed -->
            </div>
            <div class="totalcasesWrap flex1">
              <p class="totalcasestxt">Recovered</p>
              <p class="totalcasesNo lightgreenClr">{{ total_list.3 }}</p> <!-- total recovered -->
            </div>
            <div class="totalcasesWrap flex1">
              <p class="totalcasestxt">Deceased</p> <!-- total deceased -->
              <p class="totalcasesNo">{{ total_list.2 }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="statewiseCalculaterWrap">
        <p class="statecovidHeader">All State/UT Stats</p>
        <div class="covidstateFilterWrapper">
          <div class="locationFilter">
            <p class="ico12 fb blackClr">Location</p>
          </div>
          <div class="statColumn"><p class="ico12 fb redclr">Confirmed</p></div>
          <div class="statColumn"><p class="ico12 fb purpleclr">Active</p></div>
          <div class="statColumn"><p class="ico12 fb lightgreenClr">Recovered</p></div>
          <div class="statColumn"><p class="ico12 fb blackClr">Deceased</p></div>
        </div>

        {% for item in clean_list %}
        <div class="covidpopulationWrapper">
          <div class="ratedetectionouterWrapper">
            <div class="stateaffectWrapper">
              <div class="locationFilter">
                <p class="ico12 fb blackClr">{{ item.4 }}</p>
              </div>
              
              <!-- confirmed -->
              <div class="statColumn">
                <p class="ico12 fb redclr ">{{ item.1 }}</p> <!-- total confirmed -->
              </div>

              <!-- active -->
              <div class="statColumn">
                <p class="ico12 fb purpleclr ">{{ item.0 }}</p> <!-- total confirmed -->
              </div>

              <!-- recovered -->
              <div class="statColumn">
                <p class="ico12 fb lightgreenClr">{{ item.3 }}</p> <!-- total recovered -->
              </div>
              
              <!-- deceased -->
              <div class="statColumn">
                <p class="ico12 fb blackClr">{{ item.2}}</p> <!-- total deceased -->
              </div>
              
            </div>
            
          </div>
        </div>
        {% endfor %}
        
      </div>
    </div>
    </body></html>